@media(min-width:900px) {

body{
    height: 100vh;
}

.grid-container{
margin: 1rem;
display: grid;
height: inherit;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-template-areas:"nav nav nav nav"
                    "filtro productos productos productos"
                    "filtro productos productos productos"
                    "filtro productos productos productos"
                    "filtro productos productos productos"
                    "footer footer footer footer";
}


#nav{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    background-color: #E5DCC3;
    grid-area: nav;
    margin: 1em;
    
    
}
li {
    display: inline;
    padding-right: 10em;
    font-family: sans-serif;
    font-size: 120%;
    

  }
  a{
    font-family: sans-serif;
    font-size: 120%;
    color: black;
    text-decoration: none;
}

#filtro{
    background-color:  #F8F8FF;  
    grid-area: filtro;
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    padding-left: 2em;
    


}
#productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    background-color:  #F8F8FF;
    grid-area: productos;
    margin: 1em;
    text-align: center;
}
#footer{

 position:bottom 0%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    
    
    padding-right: 10em;
    font-family: sans-serif;
    font-size: 100%;

    background-color: #E5DCC3;
    grid-area: footer;
    margin: 1em;
    grid-gap: 1em;

} 
div{
    border-radius: 3%;
}

#footer > div{
    text-align: center;
    
}
.img{
    width: 60%;
    height: 70%;
}
.filt{
    background-color: #d7d7df;
    margin: 1em;
    padding: 3px;
}
.logo{
    width: 40%;
    height: 30%;
}
}




@media(max-width:899px){
    body{
        height: 1300px;
    }

    .grid-container{
        margin: 1rem;
        display: grid;
        height: inherit;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:"nav "
                            "filtro "
                            "productos "
                            "productos"
                            "productos"
                            "productos"
                            "footer";
        }
        
        
        
        #nav{

            background-color: #E5DCC3;
            grid-area: nav;
            margin: 1em;
            
            
            
            
        }
        li {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:repeat(1, 1fr) ;
   
            display: inline;
            padding-right: 10em;
            font-family: sans-serif;
            font-size: 120%;
        
          }
        a{
            font-family: sans-serif;
            font-size: 120%;
            color: black;
            text-decoration: none;
        }
        
        #filtro{
            background-color:  #F8F8FF;
            grid-area: filtro;
            margin: 1em;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(1,1fr);
            padding-left: 2em;
            
        
        
        }
        #productos{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4,1fr);
            background-color:  #F8F8FF;
            grid-area: productos;
            margin: 1em;
            text-align: end;
        }
        #footer{
          
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        
            
            
            padding-right: 10em;
            font-family: sans-serif;
            font-size: 100%;
        
            background-color: #E5DCC3;
            grid-area: footer;
            margin: 1em;
            
        
        } 
        div{
            border-radius: 3%;
        }
        
        #footer > div{
            text-align: center;
            
        }
        .img{
            width: 60%;
            height: 70%;
        }
        .filt{
            background-color: #d7d7df;
            margin: 1em;
            padding: 3px;
        }
        .logo{
            width: 40%;
            height: 30%;
        }
      
         
}








